



.img-contain {
    width: 250px;
    height: 175px;
    margin: 20px;
}

.labels {
    position: relative;
    
}

.label:hover {

}

.labels-div {
    position: absolute;
    bottom: 40px;
    width: 230px;
    padding: 10px;
    margin: 0 20px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}