


.main-header {
    font-family: 'Satisfy', 'Courgette', 'Damon', 'cursive', sans-serif;
}

.main-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.parallax-container {
    max-height: 350px;
}

.accordion {

}

.card {
    background-color: rgba(133, 104, 141, 0.5);
}

.card-body {
    background-color: rgb(252, 253, 253);
    padding: 50px 100px;
    font-family: 'Courgette', 'Damon', 'cursive', sans-serif;
    font-size: 30px;
}

#title {
    padding: 0 20px;
    flex: 1;
    text-align: center;
}

.collapsed {
    font-size: 50px;
}

#about-me-text {
    text-align: justify;
}

#project-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow: auto;
    max-width: 100%;
    max-height: 400px;
    padding: 0;
    justify-content: center;
}

.img-contain {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

.labels {
    flex: 1;
    flex-wrap: wrap;
    max-width: 200px;
    margin: 50px;
    text-align: center;
}

.label:hover {

}

.labels-div {
    flex: 1;
    max-width: 200px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
}