/* ---- particles.js container ---- */

#particles-js {
    display: flex;
    width: 100%;
    max-height: 200px;
    background-color: #585259;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

.particles-js-canvas-el {
    position: absolute;
    left: 0;
    top: 0;
    width: cover;
    z-index: 1;
}

div {
    z-index: 2;
}

.row {
    width: 100%;
}

canvas {
    z-index: 1;
}

.sticky {
    top: 0;
    width: 100%;
    margin: 0;
} 
/*-------------------------------------------------------------------*/

.outline {
    font-size: 60px;
}

.outline:hover {
    cursor: pointer !important;
}

.underline {
    width: 0px;
    opacity: 0;
    margin: 0.1em auto;
    border-style: inset;
    border: 2px solid black;
}

.top-section {
    display: flex;
    flex-direction: row;
}

.header-space {
    display: flex;
    margin: 10px 15px;
    flex-direction: row;
} 

.contact-links {
    display: flex;
    flex-direction: column;
}

.h-text {
    text-shadow: 0.5px 0.5px rgb(193, 105, 65);
    padding-top: 5px;
    font-family: 'Courgette', 'cursive', sans-serif;
    font-size: 20px;
    justify-content: center;
    display: flex;
}

.name {
    display: flex;
    text-shadow: 2px 2px rgb(193, 105, 65);
    font-family: 'Satisfy', 'Courgette', 'Damon', 'cursive', sans-serif;
    font-size: 60px;
    margin: 50px;
    justify-content: center;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.main-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
    text-align: center;
}

.brands {
    font-size: 50px;
    align-content: center;
}

.places {
    background-repeat: no-repeat;
    width: 100%;
}

#about-me-text {
    font-family: 'Courgette', 'Damon', 'cursive', sans-serif;
    font-size: 30px;
}

.parallax-container {
    max-height: 300px;
}

.card {
    background-color: rgba(133, 104, 141, 0.5);
    max-height: 900px;
    margin: 0;
}

.card-body {
    background-color: rgb(251, 247, 252);
    height: 400px;
    overflow: auto;
}

.title {
    padding: 0 20px;
    flex: 1;
    text-align: center;
    font-family: 'Satisfy', 'Courgette', 'Damon', 'cursive', sans-serif;
}

.collapse {
    max-height: 400px;
}

#about-me-text {
    text-align: center;
    font-size: 20px;
    overflow: auto;
}

ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-width: 33%;
}

.carousel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 360px;
    overflow: hidden;
}

.img-contain {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.labels-div {
    max-width: 300px;
    color: rgba(133, 92, 133, 1.0);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courgette', 'Damon', 'cursive', sans-serif;
}

form {
    width: 100%;
    font-size: 18px;
    font-family: 'Courgette', 'Damon', 'cursive', sans-serif;
}

.hidden {
    visibility: hidden;
}

/* for screens 1024 or less */
@media (max-width: 1024px) {
    #particles-js {
        width: 100%;
        max-height: 150px;
        overflow: scroll;
        padding: 0;
    }    

    .outline {
        font-size: 50px;
    }
    
    .name {
        font-size: 50px;
        margin: 30px 10px;
    }

    .main-photo {
        width: 125px;
        height: 125px;
        margin: 15px auto;
    }

    .header-space {
        margin: 10px 15px;
    }

    #about-me-text {
        font-size: 14px;
    }

    .h-text {
        font-size: 16px;
        padding: 5px;
        color: rgb(193, 105, 65);
        text-shadow: none;
    }
    
    .parallax-container {
        height: 200px;
    }

    .img-parallax {
        height: 400px;
    }

    .card {
        max-height: 500px;
    }

    .card-body {
        max-height: 300px;
    }

    .carousel {
        max-height: 260px;
    }

    .img-contain {
        width: 150px;
        height: 150px;
    }

    .card-header {
        max-height: 100px;
    }

    .labels-div {
        max-width: 200px;
        font-size: 16px;
    }
}


/* for screens 780 or less */
@media (max-width: 780px) {
    #particles-js {
        width: 100%;
        max-height: 100px;
        overflow: scroll;
        padding: 0;
        flex-direction: column;
    }

    .outline {
        font-size: 30px;
    }
    
    .name {
        font-size: 30px;
        margin: 20px 10px;
    }

    .main-photo {
        width: 75px;
        height: 75px;
    }

    .header-space {
        margin: 4px;
    }

    .h-text,
    .row,
    .brands {
        font-size: 14px;
        margin: 2px;
    }

    .title {
        padding: 0 10px;
    }

    .parallax-container {
        max-height: 75px;
    }

    .labels-div {
        font-size: 16px;
    }

    ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        column-width: 100%;
    }
    
    form {
        font-size: 15px;
        overflow: auto;
    }
}

/* for screens 520 or less */
@media (max-width: 500px) {
    #particles-js {
        display: flex;
        max-height: 80px
    }
    
    .outline {
        font-size: 16px;
    }
    
    .underline {
        width: none;
        opacity: none;
        margin: none;
        border-style: none;
        border: none;
    }

    .name {
        font-size: 16px;
        margin: 5px 5px;
    }

    .main-photo {
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    .header-space {
        margin: 2px 10px;
        flex-direction: column;
    }

    .h-text,
    .row,
    .brands {
        padding: 0;
        margin: 1px;
        font-size: 10px;
    }

    .title {
        padding: 0 10px;
        flex: 1;
        text-align: center;
        font-family: 'Satisfy', 'Courgette', 'Damon', 'cursive', sans-serif;
    }

    .parallax-container {
        max-height: 75px;
    }
    
    .img-parallax {
        height: 100px;
        width: 75px;
    }

    .labels-div {
        font-size: 12px;
    }   
    form {
        font-size: 12px;
        overflow: auto;
    }

}